# @package _global_

# specify here default training configuration
defaults:
  - _self_
  - trainer: default
  - model: 
  - datamodule: 
  - callbacks: finetune
  - logger: wandb # set logger here or use command line (e.g. `python run.py logger=wandb`)
  - log_dir: default
  - experiment: null

  # enable color logging
  - override hydra/hydra_logging: colorlog
  - override hydra/job_logging: colorlog

# path to original working directory
# hydra hijacks working directory by changing it to the current log directory,
# so it's useful to have this path as a special variable
# https://hydra.cc/docs/next/tutorials/basic/running_your_app/working_directory
work_dir: ${hydra:runtime.cwd}

# path to folder with data
dataset_dir: ${work_dir}/datasets/

# path to pretrained models
plm_dir: ${work_dir}/plms/

# path to checkpoint for updating model
ckpt_path: null

# pretty print config at the start of the run using Rich library
print_config: True

# disable python warnings if they annoy you
ignore_warnings: True

# evaluate on test set, using best model weights achieved during training
# lightning chooses best weights based on metric specified in checkpoint callback
test_after_training: False

# seed for random number generators in pytorch, numpy and python.random
seed: null

# name of the run is accessed by loggers
# should be used along with experiment mode
name: ${datamodule.plm}&lr-${model.lr}&bs-${datamodule.batch_size}

# monitor of all callbacks
monitor: val/f1

hydra:
  run:
    dir: logs/experiments/runs/${datamodule.dataset}/${now:%Y-%m-%d}_${now:%H-%M-%S}
  sweep:
    dir: logs/experiments/multiruns/${datamodule.dataset}/${now:%Y-%m-%d}_${now:%H-%M-%S}
    subdir: ${hydra.job.num}


