# @package _global_

# specify here default training configuration
defaults:
  - _self_
  - trainer: default
  - model: bert_token_classification
  - datamodule: token_classification
  - callbacks: default
  - logger: null # set logger here or use command line (e.g. `python run.py logger=wandb`)

  - mode: exp

  - experiment: null
  - hparams_search: null

  # enable color logging
  - override hydra/hydra_logging: colorlog
  - override hydra/job_logging: colorlog

# path to original working directory
# hydra hijacks working directory by changing it to the current log directory,
# so it's useful to have this path as a special variable
# https://hydra.cc/docs/next/tutorials/basic/running_your_app/working_directory
work_dir: ${hydra:runtime.cwd}

# path to folder with data
data_dir: ${work_dir}/datasets/

# path to pretrained models
pretrained_dir: ${work_dir}/plms/

# pretty print config at the start of the run using Rich library
print_config: True

# disable python warnings if they annoy you
ignore_warnings: True

# evaluate on test set, using best model weights achieved during training
# lightning chooses best weights based on metric specified in checkpoint callback
test_after_training: False

# seed for random number generators in pytorch, numpy and python.random
seed: null

# name of the run is accessed by loggers
# should be used along with experiment mode
name: null

# monitor of all callbacks
monitor: val/f1
